html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

.hide {
    display: none !important;
}

.btn-close {

}

.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.carousel {
    padding: 0;
}

.carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.carousel .carousel-item img {
    object-fit: cover;
}

.product-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
}

.product-thumb img {
    height: 100%;
    width: 100%;
}

.product-details {
    padding: 20px;
}

.product-details h4 {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 60px;
    overflow: hidden;
}

.product-bottom {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.footer {
    background-color: #343434;

}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-top: 3px;
}

.footer li {
    color: #c8c8c8;
}

.footer-icons {
    display: inline-block;
    margin-right: 15px;
    font-size: 25px;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 280px;
    height: 120%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.msg {
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.page_404{
    padding:40px 0;
    background:#fff;
}

.page_404 img{ width:100%;}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}

.contant_box_404{
    margin-top:-50px;
}